.contucts {
  width: 100%;
  //   background: #e9e9eb;

  .box {
    width: 100%;
    padding: 120px 108px 200px 108px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    @media screen and (max-width: 1170px) {
      gap: 90px;
    }
    @media screen and (max-width: 998px) {
      padding: 100px 10px 100px 10px;
    }
    .title {
      font-family: "Inter";
      font-style: normal;
      font-weight: 300;
      font-size: 56px;
      line-height: 130%;
      text-transform: uppercase;

      color: #171717;
      @media screen and (max-width: 768px) {
        font-size: 48px;
      }
    }

    .contactsUl {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: 1170px) {
        gap: unset;
      }
      @media screen and (max-width: 900px) {
        flex-direction: column;
        gap: 50px;
      }
      @media screen and (max-width: 670px) {
        flex-direction: column;
      }

      li {
        width: 49%;
        display: flex;
        flex-direction: column;
        gap: 32px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 130%;

        letter-spacing: 0.001em;

        color: #171717;

        opacity: 0.8;
        z-index: 1;
        @media screen and (max-width: 900px) {
          width: 100%;
        }
        @media screen and (max-width: 768px) {
          font-size: 20px;
          gap: 20px;
        }

        .phone,
        .email {
          cursor: pointer;
          color: #29292c;
        }

        .mapBox {
          width: 100%;
          height: 322px;
          margin-top: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 15px;
          overflow: hidden;
          z-index: 100;
        }
        [class*="copyrights-pane"] {
          display: none !important;
        }
      }
    }
  }
  .locations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .shadowEllipsBox {
    position: relative;
    width: 100%;

    .shadowEllips {
      position: absolute;
      top: -130px;
      width: 100%;
      height: 482px;
      background: linear-gradient(249.29deg, #7aa7ff -4.9%, #67d4b4 92.72%);
      filter: blur(87.5px);
      z-index: -1;
      border-radius: 50%;
    }
  }
}
