.boxForModule {
  background-color: #29292c;
  width: 100%;
  z-index: 3;
  position: relative;
  .module {
    width: 100%;
    min-height: 660px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 10% 15%;

    z-index: 2;
    @media screen and (max-width: 998px) {
      padding: 100px 40px;
    }
    @media screen and (max-width: 500px) {
      padding: 40px 0px 40px 0px;
    }

    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;

      color: #e9e9eb;
      @media screen and (max-width: 765px) {
        font-size: 16px;
      }
    }
    img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.shadowEllipsBox {
  position: relative;
  width: 100%;

  .shadowEllips {
    position: absolute;
    top: -300px;
    width: 100%;
    height: 482px;
    background: linear-gradient(249.29deg, #7aa7ff -4.9%, #67d4b4 92.72%);
    filter: blur(87.5px);
    z-index: 1;
    border-radius: 50%;
  }
}
.components {
  color: #171717;
  display: flex;
  flex-direction: column;
  .title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 130%;
    z-index: 4;
    @media screen and (max-width: 765px) {
      font-size: 48px;
    }
  }
  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    @media screen and (max-width: 765px) {
      font-size: 16px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    li {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
    }
    li:before {
      content: url("../../assets/img/geology/rrr.svg");
      margin-right: 16px;
    }
  }
  span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    @media screen and (max-width: 765px) {
      font-size: 14px;
    }
  }

  .doc {
    background-color: #e9e9eb;
    width: 100%;
    height: 100%;
    .box {
      height: 100%;
      width: 100%;
      padding: 10% 17%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      @media screen and (max-width: 998px) {
        padding: 100px 40px;
      }
      @media screen and (max-width: 500px) {
        padding: 40px 0px 40px 0px;
      }
    }
  }
  .ddd {
    width: 100%;
    background: #f5f5f7;

    .box {
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 998px) {
        flex-direction: column;
      }

      .innerBox {
        height: 100%;
        width: 60%;
        padding: 120px 0px 120px 108px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media screen and (max-width: 1380px) {
          width: 50%;
          padding: 100px 0px 100px 50px;
        }
        @media screen and (max-width: 998px) {
          width: 100%;
          padding: 100px 40px;
          padding-bottom: 0px;
        }
        @media screen and (max-width: 500px) {
          padding: 40px 0px 40px 0px;
        }
      }
      .boxImg {
        margin: 220px 0px 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @media screen and (max-width: 998px) {
          width: 100%;
          margin: 0;
        }

        .imgDDD {
          position: relative;
          @media screen and (max-width: 756px) {
            width: 100%;
          }
        }
      }
    }
  }
  .qaqc {
    background: #e9e9eb;
    width: 100%;
    .box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 998px) {
        flex-direction: column-reverse;
      }
      .imageBox {
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 998px) {
          width: 100%;
          margin-bottom: 40px;
        }

        .shadowEllips {
          // top: -300px;
          width: 580px;
          height: 450px;
          background: linear-gradient(249.29deg, #7aa7ff -4.9%, #67d4b4 92.72%);
          filter: blur(87.5px);
          border-radius: 50%;
          @media screen and (max-width: 1280px) {
            width: 480px;
            height: 380px;
          }
          @media screen and (max-width: 998px) {
            width: 580px;
            height: 450px;
          }
        }
        img {
          position: absolute;
          top: -10px;
          left: 30px;
          @media screen and (max-width: 1280px) {
            top: 40px;
            left: 100px;
            width: 60%;
          }
          @media screen and (max-width: 998px) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          @media screen and (max-width: 756px) {
            height: 348px;
            width: 350px;
          }
        }
      }
      .innerBox {
        height: 100%;
        width: 50%;
        padding: 120px 80px 120px 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media screen and (max-width: 1380px) {
          width: 50%;
          padding: 100px 40px 100px 0px;
        }
        @media screen and (max-width: 998px) {
          width: 100%;
          padding: 100px 40px 100px 40px;
        }
        @media screen and (max-width: 500px) {
          padding: 40px 0px 40px 0px;
        }
      }
    }
  }
}
