.menuFooter {
  width: 100%;
  min-height: 371px;
  padding-top: 66px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  @media screen and (max-width: 1280px) {
    padding-bottom: 40px;
    flex-direction: column;
    gap: 40px;
  }

  h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #535354;
    margin-bottom: 24px;
  }
  h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #29292c;
    cursor: pointer;
  }

  .navBar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100px;

    @media screen and (max-width: 1280.8px) {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;
      gap: 40px;
    }
    @media screen and (max-width: 600px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    li {
      cursor: pointer;
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #29292c;
      }
    }
    :hover {
      font-weight: 600;
    }
  }
  .secondBox {
    display: flex;
    flex-direction: row;
    gap: 100px;

    @media screen and (max-width: 998px) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    .contModule {
      min-width: 100px;

      .modules {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        width: 335px;
        @media screen and (max-width: 1160px) {
          grid-column-gap: 0px;
        }
        @media screen and (max-width: 998px) {
          width: 100%;
          grid-template-columns: repeat(4, 1fr);
        }
        @media screen and (max-width: 765px) {
          width: 100%;
          grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 450px) {
          width: 100%;
          grid-template-columns: repeat(2, 1fr);
        }

        li {
          p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #29292c;
          }
        }
        :hover {
          font-weight: 600;
        }
      }
    }
    .contCont {
      min-width: 100px;

      .contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 20px;
        // @media screen and (max-width: 1160px) {
        //   grid-column-gap: 0px;
        // }

        li {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: #29292c;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .phone,
          .email {
            cursor: pointer;
            color: #29292c;
          }
        }
      }
    }
  }
}
