.slider{
  height: 83vh;
  max-height: 900px;
  overflow: hidden;
}

.swiper {
    width: calc(100% - 48px);
    height: calc(100vh - 100px);
    z-index: 1;
    box-sizing: border-box;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

    @media screen and (max-width: 768px) {
      margin-top: 146px;
      align-items: flex-start;
    }
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }

  .slider{
    // height: 1316px;
  }

.swiper-pagination {
    top: 0 !important;
    height: 92px;
}
.pagItem{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #171717;
    width: auto;
    background-color: #fff;
    border-radius: 0;
    height: auto;
    padding: 8px 12px;
    /* Grey */

    border-bottom: 1px solid #DDDDDF;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
}

.sliderItem{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 50% 50%;
    height: 100%;
    & > *:first-child{
      padding-right: 40px;
      @media screen and (max-width: 768px) {
        padding: 0;
        padding-bottom: 12px;
      }
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: calc(50% - 20px) 50%;
      height: 90%;
      padding: 0;
    }
}   
.sliderContent{
    @media screen and (max-width: 768px) {
      padding-bottom: 40px;
      padding-right: 0;
      overflow: hidden;
      overflow-y: auto;
      margin-bottom: 12px;
    }
}
.sliderTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 130%;
    text-align: start;
    
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 12px;
    @media screen and (max-width: 960px) {
      font-size: 28px;
    }
    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
    @media screen and (max-width: 560px) {
      font-size: 20px;
    }
}
.text{
}
.paragraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: start;
    margin-bottom: 40px;

    /* Almost black */

    color: #171717;
}

.sliderImg{
    border-radius: 16px;
    width: 602px;
    overflow: hidden;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      height: 100%;
    }
}
.swiper-pagination-bullet-active{
    font-weight: 700;
    color: #171717;
    border-bottom: 1px solid #171717;
    padding: 8px 8px;
}

.swiper-backface-hidden .swiper-slide {
  height: calc(100% - 144px);
}