.feedback{
    display: flex;
    justify-content: center;
    padding-bottom: 220px;
    position: relative;
}
.feedbackContainer{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.feedbackTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 130%;
    /* or 62px */
    margin-bottom: 20px;

    letter-spacing: 0.01em;
    text-transform: uppercase;

    /* Almost black */

    color: #171717;
}
.feedbackBtn{
    padding: 32px 40px;
    gap: 10px;
    font-size: 32px;
    line-height: 130%;
    /* Gray blue */
    font-weight: 300;
    background: #29292C;
    border-radius: 16px;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 130%;
    /* identical to box height, or 42px */
    
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    /* Grey */
    
    color: #DDDDDF;
    /* Grey */
    cursor: pointer;
    color: #DDDDDF;
}

.feedmodal{
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    /* Shadow 2 */
    width: 680px;
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.1), 0px 9px 46px rgba(0, 0, 0, 0.06), 0px 24px 38px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    position: absolute;
}
.feedmodalContainer{
    padding: 24px;
}
.feedmodalTitle{
    margin-bottom: 80px;
}
.feedmodalTitleText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    /* identical to box height, or 42px */

    text-transform: uppercase;
}
.feedmodalForm{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.formgroup{
    display: grid;
    // width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.formgroupLabel{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}
.formgroupInput{
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #DDDDDF;
    border-radius: 8px;
    padding: 8px 18px;
}
.formgroupTextarea{
    border: 1px solid #DDDDDF;
    border-radius: 4px;
    padding: 12px 16px;
    font-family: 'Roboto';
    font-style: normal;
}
.feedmodalWrap{
    position: absolute;
    background-color: #64647e;
    left: 20%;
}
.feedmodalBtn{
    border: 2px solid #898989;
    border-radius: 8px;
    background-color: #898989;
    color: #FFFFFF;
    font-size: 14px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.feedmodalBtnActive{
    background-color: #171717;
}