.inface{
    padding: 120px 0;
}
.infaceTitle{
    padding: 0 188px;
    padding-bottom: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 130%;
    color: #171717;
}
.infaceImgWrap{

}
.infaceImg{

}