.firstBlok {
  width: 100%;
  background: #e9e9eb;

  .box {
    min-height: 702px;
    padding-top: 150px;
    padding-bottom: 153px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      padding-top: 80px;
      padding-bottom: 50px;
      gap: 40px;
    }
    @media screen and (max-width: 800px) {
      padding-top: 0px;
      padding-bottom: 0;
    }

    .title {
      display: flex;
      width: 50%;
      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-size: 64px;
        line-height: 130%;
        color: #171717;
        @media screen and (max-width: 1200px) {
          text-align: center;
        }
        @media screen and (max-width: 800px) {
          font-size: 48px;
          line-height: 110%;
        }
      }
    }
    .animation {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 420px;
      width: 750px;
      @media screen and (max-width: 800px) {
        max-width: 100vw;
      }
      .lottie {
        height: 420px;
        width: 750px;
        @media screen and (max-width: 800px) {
          width: 100vw;
        }
      }
    }
  }
}
